@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Nunito:wght@400;700;900&display=swap');

:root {
    margin:0;
    padding: 0;
    --darkpurpel: #4B2358;
    --purpel: #9F83BB;
    --lightpurpel: #BAB7DC;
    --size: 100vw;
   background-color: var(--lightpurpel);
}

body{
    margin:0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: var(--lightpurpel);
    position:sticky;
    top:0;
    min-height: 50px;
    width: 100%;

}
