main.container-contacto {
    grid-area: main;
    max-width: 100vw;
    background-color: var(--purpel);
    margin: 0;
    padding: 0;
    text-align: center;

}

main.container-contacto {

    display: grid;
    font-family: "Figtree", sans-serif;
    grid-template-areas:
        "formulario"
        "section-acerca-3"
    ;

}

section.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.section-form>form {
    margin: 5%;
    text-align: center;


}

.section-form>h3 {
    font-size: 1.3rem;
    color: white;
    font-family: "Figtree";
}

section.section-form>form>label {
    display: block;

}

section.section-form>form>input {
    display: inline-block;
    text-align: center;

}

section>form>div.boton {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn {
    display: block;
    width: 70%;
    border-radius: 25px;
    background-color: var(--lightpurpel);
    margin-top: 5%;
    padding: 2% 15%;
    color: var(--darkpurpel);
    font-weight: 900;

}


.section-acerca-3 {
    background-color: var(--darkpurpel);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-acerca-3 div {
    background-color: var(--lightpurpel);
    border-radius: 25px;
    width: 90%;
    margin: 10px 0 10px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-acerca-3>div>img {
    width: 35px;
    height: 35px;
    background-color: var(--darkpurpel);
}

.section-acerca-3>div>p {
    margin: 2%;

}

main.container-contacto>section.section-form {
    grid-area: formulario;
}

main.container-contacto>section.section-acerca-3 {
    grid-area: section-acerca-3;
}

@media (min-width:400px) {

    .section-acerca-3 {
        display: flex;
        flex-direction: row;

    }

    .section-acerca-3 div {
        background-color: white;
        border-radius: 15px;
        width: 30%;
        margin: 10px;
        padding: 5px;
        color: var(--darkpurpel);
        font-weight: bold;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    main.container-contacto {

        display: grid;
        font-family: "Figtree", sans-serif;
        grid-template-areas:
            "formulario formulario formulario "
            "section-acerca-3 section-acerca-3 section-acerca-3 "
        ;
    }

    main.container-contacto>section.section-form {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .section-form>h3{
        font-size: 2.5rem;
    }
        

    section>form>div.boton {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .btn {
        display: block;
        width: 100%;
        border-radius: 25px;
        background-color: var(--lightpurpel);
        margin-top: 5%;
        padding: 2% 15%;
        color: var(--darkpurpel);
        font-weight: 900;

    }

}