
main.container-home {
    grid-area: main;
    max-width: 100vw;
    background-color: var(--lightpurpel);
    margin: 0;
    padding: 0;
    text-align: center;

}

main.container-home>section {
    display: flex;
    min-height: 130px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 2%;

}

main.container-home>section>img {
    max-width: 100%;
    height: auto;
}

main>section>h3 {
    position: absolute;


}

main>article {
    width: 100%;
}

main>article>div {
    max-width: 100%;
}

main>article>div>img {
    width: 35px;
    height: 35px;
    background-color: #4B2358;
}

main article>div>h3 {
    width: 90%;
    font-family: sans-serif, "Figtree";
    font-weight: bold;
    margin: 1%;
    padding: 2%;

}

main article>div>p {
    width: 90%;
    font-family: sans-serif, "Figtree";
    font-size: 0.9em;
    margin: 2%;
}

main section>div.contenido-grid {
    grid-area: section5;
    max-width: 360px;
    color: var(--darkpurpel);
    background-color: white;
    display: grid;
    grid-template-columns:
        "3fr 1fr";
    /* grid-template-rows: "1fr 1fr 1fr"; */
    margin: 2%;


}

.izquierdo {
    grid-area: izquierdo;
    grid-column: 1/3;


}

.derecho {
    grid-area: derecho;
    grid-column: 3;


}

main section>h3 {
    /* border:2px solid var(--purpel); */
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: var(--lightpurpel);
    color: var(--darkpurpel);
    width: 215px;
    height: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

main>section button {
    border-radius: 25px;
    background-color: var(--lightpurpel);
    padding: 5px 10px;
}

main>section button a {
    color: var(--darkpurpel);
    font-weight: bold;
}

main>section>p {
    align-items: center;
    text-align: center;
    width: 100%;

}

.container-section1{
   background-color:var(--purpel);
   font-family: 'Figtree',sans-serif;
   
   font-weight: 700;
   margin:2% 0;

   padding: 2%;
}
.container-section1>div{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;

}
.container-section1>div>p{
    min-height: 50px;

}
.container-section1>div>img{
    width:75%;
    border-radius: 50px;
    height: auto;
}
.container-section1>div>button{
    min-height: 30px;
    border-radius: 25px;
    background-color: white;
    margin:10px;
    padding: 10px;
    
}
.container-section1>div>button>a{
    text-decoration: none;
    color:var(--darkpurpel);
}
.container-section6 {
    grid-area: section6;
   
    aspect-ratio: 1/0.4;
    background-image: url('../img/Plasma_rico_plaquetas.png');
    background-size: cover;
}


.container-section7 {
    grid-area: section7;
    aspect-ratio: 1/0.4;
    background-image: url('../img/Rinomodelación_cirugía.png');
    background-size: cover;
}

.container-section8 {
    grid-area: section8;
    aspect-ratio: 1/0.4;
    background-image: url('../img/Limpieza_de_cutis.png');
    background-size: cover;
}

.container-section9 {
    grid-area: section9;
    aspect-ratio: 1/0.4;
    background-image: url('../img/Dermapen.png');
    background-size: cover;

}

.container-section10 {
    grid-area: section10;
    aspect-ratio: 1/0.4;
    background-image: url('../img/Relleno_labios.png');
    background-size:cover;


}

.container-section11 {
    grid-area: section11;
    min-width: 360px;


}

.container-section12 {
    grid-area: section12;
    
    max-width: 100%;
    margin: 2%
}
section.container-section12>iframe{
    aspect-ratio: 1/0.5;
}

/*Esta parte es para el templa de minimo 720 */
@media (min-width: 720px) {

    body {
        display: grid;
        grid-column: 5% 90% 5%;
        grid-template-areas:
        'header header '
        'main main ';
       
        /* grid-template-rows: 30% 70%; */
    }

    main.container-home  {

        display:grid;
        grid-template-areas:
        'container-section1 container-section1 container-section1'
        'article1 article2 article3'
        'container-section5 container-section5 '
        'container-section6 container-section7 '
        'container-section9 container-section10 '
        'container-section12 container-section12 '
        ;
        width:98vw;
        /* grid-template-columns: 30% 15% 15% 30% ;
        grid-template-rows: repeat(1fr,13); */
        background-color:var(--purpel);
        
        
         
    } 
   

    article.container-section1{
        grid-column:  1 / span 4;
        grid-row: 1 / 2;
        margin-bottom: 2%;
               

        
    }
    article.container-section1>div.carrusel{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:white;
    }
    article.container-section1>div>img{
        max-width:50%;
    }
    
    .article1{
        grid-column: 1/ span 1;
        grid-row: 2/3;
    }
    .article2{
        grid-column: 2/ span 2;
        grid-row: 2 / 3;
    }
    .article3{
        grid-column: 4 / span 1;
        grid-row: 2 / 3;
    }
    .container-section5{
        grid-column: 1/ -1;
        grid-row:3/4;
    }

    .container-section6 {
        grid-column: 1 / span 2;
        grid-row:4/5
       
    }
    .container-section7 {
        grid-column: 3 / span 2;
        grid-row:4/5;
       
    } 
    .container-section8 {
        grid-column: 1 / span 2;
        grid-row:5/6;
    } 
    .container-section9 {
        grid-column: 3 / span 2;
        grid-row:5/6;
    }
    .container-section10 {
        grid-column: 1 / span 2;
        grid-row:6/7;
    }
    .container-section11 {
        grid-column: 3 / span 2;
        grid-row:6/7;
    }
    .container-section12 {
        grid-column: 1 / -1;
        grid-row:8/9;
       
    }
    section.container-section12>iframe{
        aspect-ratio: 1/0.2;
    }
    .direccion{
        grid-column: 1 / -1;
        grid-row: 9/10;
    }
    /* estilos para el slider */
    #carrusel{
        max-height: 400px; 
       
       
    }
    #carrusel>img{
        max-height:200px;
        aspect-ratio: 1/1;
    }
    /* estilos para el slider */
}
