@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Nunito:wght@400;700;900&display=swap');

:root {
    margin:0;
    padding: 0;
    --darkpurpel: #4B2358;
    --purpel: #9F83BB;
    --lightpurpel: #BAB7DC;
    --size: 100vw;
   background-color: var(--lightpurpel);
}

body{
    margin:0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: var(--lightpurpel);
    position:sticky;
    top:0;
    min-height: 50px;
    width: 100%;

}

main {
    grid-area: main;
    max-width:100vw;
    background-color: var(--lightpurpel);
    margin:0;
    padding: 0;
    text-align: center;
    
}
main>h2{
    font-family: 'Figtree';
    font-size: 2rem;
    color: white;
    text-shadow: 
        1px 1px 0 black, 
        -1px 1px 0 black, 
        1px -1px 0 black, 
        -1px -1px 0 black ;
}

#storage-producto{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

section>div.productos{
    background-color: white;
    margin:2%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5%;
    text-align: center;
    color:var(--darkpurpel);
}
section>div.productos >h4{
    font-size: 1.2rem;
    border-top: 2px solid var(--darkpurpel);
    border-right: 2px solid var(--purpel);
    border-top-left-radius: 20px;
    border-bottom: 2px solid var(--purpel);
    border-left: 2px solid var(--darkpurpel);
    border-bottom-right-radius: 20px;
    background-color: var(--lightpurpel);
    font-weight: bold;
    width: 100%;
}

section>div.productos > div.item-pro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section>div.productos > div.item-pro>img{
    min-width: 50%;
    max-width: 80%;
    ;
    display:block;
}
section>div.productos > div.item-pro>label{
    font-size: 1rem;
    font-weight: bold;
    
}

/*marcado de areas para movil*/

@media only screen and (min-width : 400px) {

    body {
        background-color: var(--lightpurpel);
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }



}

