@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Nunito:wght@400;700;900&display=swap');

:root {
    margin:0;
    padding: 0;
    --darkpurpel: #4B2358;
    --purpel: #9F83BB;
    --lightpurpel: #BAB7DC;
    --size: 100vw;
   background-color: var(--lightpurpel);
}

body{
    margin:0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: var(--lightpurpel);
    position:sticky;
    top:0;
    min-height: 50px;
    width: 100%;

}

main {   
    max-width:100vw;
    background-color: var(--lightpurpel);   
    margin-top: 1.5rem;
    padding: 0;
    text-align: center;
  
    
}

main > h2{
    font-family: 'Figtree';    
    color: white;
    text-shadow: 4px 4px 5px var(--darkpurpel);
    margin-bottom: 5px;
}


.titulo{
    font-size: 1.3rem;
}

.subtitulo{
    font-size: 1.1rem;  
}


#storage-producto{
   margin-top: 9px;
}

section > div.productos{   
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 34px 0 rgba(31, 38, 135, 0.37);   
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;   
    margin: 10px;
    padding:5%;
    display:flex;   
    justify-content:space-between;   
    text-align: center;
    color:var(--darkpurpel);
}

section > div.productos > h4{
    font-size: .9rem;
    text-shadow: 3px 3px 4px var(--purpel);  
    font-weight: bold;
    width: 100%;
    margin-left: 8px;  
}


section>div.productos > div.item-pro > img{
    min-width: 20%;
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 4px 2px 4px 2px rgba(33, 1, 44, 0.37); 
    padding: 2px ; 
    margin: 0 0 0 24px;
}

section > div.productos > div.item-pro > label{
    font-size: .9rem;
    font-weight: bold;     
    text-shadow: 3px 3px 4px var(--purpel); 
}



/*marcado de areas para movil*/

/* @media only screen and (min-width : 400px) {

    body {
        background-color: var(--lightpurpel);
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
} */



/* Tablet */
@media only screen and (min-width:768px)  {
    .titulo{
        font-size: 1.8rem;
    }
    
    .subtitulo{
        font-size: 1.5rem;    
    }

    section > div.productos > h4{
     font-size: 1.2rem; 
    }    
}


/* Desktop */
 @media only screen and (min-width:1024px) {
    .titulo{
        font-size:3rem;    
    }
    
    .subtitulo{
        font-size: 2.5rem
    }
    
    #storage-producto{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }
    
    section > div.productos{       
        margin: 8px;      
        height: 18rem;       
    }

    section > div.productos > h4{
        font-size: 1.2rem;           
    }
    
    section > div.productos > div.item-pro{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section>div.productos > div.item-pro > img{
        min-width: 50%;
        max-width: 70%;
        display:block;
        padding: 4px ; 
    }
    
    section > div.productos > div.item-pro > label{
        font-size: 1.2rem;
    }
}
