@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Nunito:wght@400;700;900&display=swap');

:root {
    margin:0;
    padding: 0;
    --darkpurpel: #4B2358;
    --purpel: #9F83BB;
    --lightpurpel: #BAB7DC;
    --size: 100vw;
   background-color: var(--lightpurpel);
}

body{
    margin:0;
    padding: 0;
}


header {
    grid-area: header;
    background-color: var(--lightpurpel);
    position:sticky;
    top:0;
    min-height: 50px;
    width: 100%;

}

main {
    grid-area: main;
    background-color: var(--lightpurpel);
    margin:0;
    padding: 0;
    text-align: center;
    
}





main section{
    min-height: 130px;
    position: relative;
}
main section img{
    max-width: 100%;
    height: auto;
}

main>section>h3 {
    position:absolute;

}

main>article > div >img{
    width: 35px;
    height: 35px;
    background-color: #4B2358;
}

main article >div > h3{
    font-family:sans-serif, "Figtree";
    font-weight: bold;
    padding: 2%;

}
main article > div>p{
    font-family: sans-serif, "Figtree";
    font-size: 0.9em;
    padding: 2%;
}


footer {
    grid-area: footer;
    background-color: var(--darkpurpel);
    grid-template-areas:
        'footer';
}

/*areas de secciones internas de cada bloque*/
/* .container-section1 {
    grid-area: section1;
   
}

.container-section2 {
    grid-area: section2;
  

}
.container-section3 {
    grid-area: section3;

}

.container-section4 {
    grid-area: section4;

} */
.container-section5 {
    grid-area: section5;
    width: 100%;
    color:var(--darkpurpel);
    background-color: white;
    display: grid; 
    grid-template-columns: 
    "3fr 1fr";
    grid-template-rows: "1fr 1fr 1fr";
 
    

}
.izquierdo{
    grid-area: izquierdo;
    grid-column:1/3;
    
    
}

.derecho{
    grid-area: derecho;
    grid-column: 3;
    
   
}


.container-section6 {
    grid-area: section6;
    min-height:130px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}


.container-section7 {
    grid-area: section7;
    min-height:130px;
    background-repeat: no-repeat;
   
}

.container-section8 {
    grid-area: section8;
    min-height:130px;
    background-repeat: no-repeat;

}
.container-section9 {
    grid-area: section9;
    min-height:130px;
    background-repeat: no-repeat;


}
.container-section10 {
    grid-area: section10;
    min-height:130px;
    background-repeat: no-repeat;


}
.container-section11 {
    grid-area: section11;
    min-height:130px;
    background-repeat: no-repeat;
 

}
.container-section12 {
    grid-area: section12;

}
main section{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
main section > h3{
    /* border:2px solid var(--purpel); */
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: var(--lightpurpel);
    color:var(--darkpurpel);
    width: 215px;
    height: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/*maquetado para desktop*/
@media only screen and (min-width:500px) {

    body {
        display: grid;
        grid-template-areas:
            'header header header'
            'main main main'
            'footer footer footer';
        background-color: rgb(209, 122, 7);
    }


}



/*marcado de areas para movil*/

@media only screen and (min-width : 720px) {

    body {
        background-color: burlywood;
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }



}



nav>ul>li {
    padding: 5px;
 
    background-color: var(--purpel);
    border: 2px solid var(--darkpurpel);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}



/* .container-section1 .circular{
    background-color: rgb(250, 167, 0);
    width: 30%;
} */

footer ul li {
    text-decoration: none;
    display: inline-block;
}

/*Parte del css que toca especificamente parte de pages acerca*/

main.container-acerca {
    padding: 2%;
    margin-left: 1% auto;
    display:grid;
    font-family:"Figtree", sans-serif;
    grid-template-areas: 
    "section-acerca-1"
    "section-acerca-2"
    "section-acerca-3";
   
}

.section-acerca-1{
    grid-area: section-acerca-1;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}
.section-acerca-2{
    grid-area: section-acerca-2;
    background-image: url(../img/relax.png);
    background-repeat: no-repeat;

    background-size:cover;
}

.section-acerca-2 img{
    max-width: 325px;
}
.section-acerca-2 div {
    width: 100%;
    
}
#marco-interno{
   width: 90%;
   margin: 5%;
   
    background-color:rgba(248, 248, 248, 0.5);

}

.section-acerca-3{
    grid-area: section-acerca-3;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.section-acerca-3 div{
    background-color: var(--lightpurpel);
    border-radius: 25px;
    width: 80%;
    margin:10px 0 10px 0;
    padding: 5px;
}
.section-acerca-3>div>img{
    width:35px;
    height: 35px;
    background-color: var(--darkpurpel);
}