@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Figtree', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    background: #bab7dc;
    box-shadow: 0 5px 10px rgba(75, 35, 88,.1);
    padding: 0px 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border: 2px solid #4b2358;
   }

.logo{
   width: 12%; 

}

.navegador ul{
    list-style: none; 
}

.navegador ul li{
    position: relative;
    float: left;
}

.navegador ul li a{
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    color:#4b2358;    
    font-weight: 600;
    display: block;
}

.navegador ul li a:hover{
   color: #fff;   
   text-shadow: 1.5px  1.5px #4b2358 ;
   }

 .navegador ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
}

.navegador ul li ul li{
    width: 130%;
    border: 2px solid #4b2358;     
    background-color: #bab7dc;
    border-radius: 0 40px 0 40px;
    margin-top: 3px ;  
    display: flex;
    justify-content: center;
    align-items: center;

}  


.navegador ul li ul li ul li{
    width: 90%;
    left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.navegador ul li ul li ul li a{
    font-size: 17px;
    padding: 10px;
  }

.navegador ul li ul li a{
    font-size: 18px;
    padding: 10px;
   
}
.navegador ul li ul li ul{
    left: 200px;
    top: 0;
}


.navegador ul li:hover > ul{
    display: initial;
}
 
.navegador ul li ul li ul{
    left: 200px;
    top: 0;
}

#menu{ display: none;}

header label{
    width: 50px;
    color: #4b2358;
    cursor: pointer;
    display: none;
}
 

/* @media  screnn and (min-width: 768px) and (max-width: 960px){
    .navegador ul li a{ font-size:12px; padding: 7px }
    .navegador ul li ul li ul li a{
        font-size: 15px;
        padding: 8px;
    }
}      */
    
    
/* @media  screnn and(min-width:768px) {
    .navegador.menu{ display: none;}
}       */

/* @media  screnn and(max-width:767px) {
    header{ padding: 20px}
    header label{ display: initial;}
    .navegador {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #bab7dc;
        border-top: 1px solid #4b2358;
    }
    
    .navegador ul li{
        width: 100%;
    }
 .navegador ul li ul{ position: relative;
        width: 100%;
    }
    .navegador ul li ul li{ background: #9f83bb;}
    .navegador ul li ul li i {transform: rotate(90deg);}
    .navegador ul li ul li ul{ 
        width: 100%;
        left: 0;
    }      
} */


@media screen and (min-with: 768px) and (max-width: 991px){
    .navegador ul li ul li ul li {
        font-size: 5px;
        padding: 20x;
       } 
       .navegador ul li{
        left: -50px;
       }
} 

@media screen and (min-width: 768px){
    .menu{ display: none;}
}

@media screen and (max-width: 767px){
    header{ padding: 10px;}
    header label{display: initial;}
    .navegador{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #bab7dc;
        border-top: 1px solid #4b2358 ;
        display: none;        
    }
    .navegador ul li{width: 100%;}
    .navegador ul li ul{
        position: relative;
        width: 100%;   
       
    }
    
    .navegador ul li ul li{ background: #9f83bb;}
    .navegador ul li ul li ul{
        width: 100%;
        left: 0;
       
    }

    #menu:checked~ .navegador{
        display: initial;
    }
    
}